@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250 250 248;
  --foreground: 26 26 26;
}

html, body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}
